### Data Ingestion

In [1]:
# Import all necesarry lib
import numpy as np
import pandas as pd
import os

In [2]:
# Loading the dataset
sales = pd.read_csv('sales_data.xls')

In [3]:
# Print the first five elements on the dataset
sales.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,3201,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,5,3202,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,4,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,3203,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,5,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,12,3204,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,1,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6,3205,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena

In [4]:
# Print the last five elements on the dataset
sales.tail()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
578315,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161958,2024-03-30 04:03:18.224196,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578316,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,4,34940,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161959,2024-03-30 04:03:18.224198,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578317,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161959,2024-03-30 04:03:18.224198,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578318,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,4,34940,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161960,2024-03-30 04:14:18.224200,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578319,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161960,2024-03-30 04:14:18.224200,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island

### Preliminary Data Analysis

In [5]:
# Checking the shape of the data
data_shape = sales.shape
print('Dataset Shape:',data_shape)

Dataset Shape: (578320, 12)

In [6]:
# Checking the size of the dataset
sales.size

6939840

In [7]:
# Check the information of the datset
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578320 entries, 0 to 578319
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   item_id          578320 non-null  int64
 3   line_item_id     578320 non-null  int64
 4   order_id         578320 non-null  object
 5   event_id         578320 non-null  int64
 6   event_timestamp  578320 non-null  object
 7   quantity         578320 non-null  int64
 8   currency         578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  status           578320 non-null  object
 11  location         578320 non-null  object
dtypes: int64(4), object(8)
memory usage: 52.9+ MB

In [8]:
# checking the data type
sales.dtypes

customer_id        object
device_id          object
item_id             int64
line_item_id        int64
order_id           object
event_id            int64
event_timestamp    object
quantity            int64
currency           object
checked_out_at     object
status             object
location           object
dtype: object

In [9]:
## Checking for missing values
sales.isnull().sum()

customer_id        0
device_id          0
item_id            0
line_item_id       0
order_id           0
event_id           0
event_timestamp    0
quantity           0
currency           0
checked_out_at     0
status             0
location           0
dtype: int64

In [10]:
# Checking for duplicated values
duplicates = sales.duplicated().sum()
print('Duplicated values:', duplicates)

Duplicated values: 0

### Data cleaning

In [11]:
# Changing the event timestamp to datetime
sales['event_timestamp'] = pd.to_datetime(sales['event_timestamp'])
sales['event_timestamp'].head()

0   2024-03-26 22:05:58.863661
1   2024-03-26 22:05:58.863661
2   2024-03-26 22:05:58.863661
3   2024-03-26 22:05:58.863661
4   2024-03-26 22:05:58.863661
Name: event_timestamp, dtype: datetime64[ns]

In [12]:
# Reconfirming the data type
sales['event_timestamp'].dtypes

dtype('<M8[ns]')

In [13]:
# Changing the event timestamp to datetime
sales['checked_out_at'] = pd.to_datetime(sales['checked_out_at'])
sales['checked_out_at'].head()

0   2024-03-30 04:19:10.406794
1   2024-03-30 04:19:10.406794
2   2024-03-30 04:19:10.406794
3   2024-03-30 04:19:10.406794
4   2024-03-30 04:19:10.406794
Name: checked_out_at, dtype: datetime64[ns]

In [14]:
# Reconfirming the data type
sales['checked_out_at'].dtypes

dtype('<M8[ns]')

In [15]:
# # Setting the index for the columns
# sales.set_index('location', inplace=True)

### Exploratory data analaysis

In [16]:
# Checking the columns in the dataset
sales.columns

Index(['customer_id', 'device_id', 'item_id', 'line_item_id', 'order_id',
       'event_id', 'event_timestamp', 'quantity', 'currency', 'checked_out_at',
       'status', 'location'],
      dtype='object')

In [17]:
# Checking thelength of the sales column
len(sales.columns)

12

In [18]:
sales1 = pd.DataFrame(sales, columns=sales.columns, index=sales.set_index('location', inplace=True))

In [19]:
# Sorting the index 
sales1.sort_index(ascending=True, inplace=True)

In [20]:
sales1.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Afghanistan,70620f47-7786-4c75-a784-e1f584cf0af0,8a105f4c-73e3-49c0-bccb-33660f23ea4d,9,24077,c438565d-ac6a-4653-a602-4c66c92c41ec,111439,2024-03-30 04:03:15.520915,2,NGN,2024-03-30 04:14:15.520920,failed,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,2,11897,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,1,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,10,11898,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,1,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,4,11899,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,5,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,7,11900,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,3,GBP,2024-03-30 04:17:12.580762,success,NaN

In [21]:
sales1.tail()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,10,29861,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,3,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,7,29860,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138309,2024-03-28 01:59:47.070999,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138314,2024-03-30 04:03:16.911579,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,3f32bd5a-83d1-4d0e-85ba-101602388481,3dda90af-6c74-494d-b240-fc4d8d31759a,3,15897,46a574f4-9044-4653-b2cc-7c1610f68494,74252,2024-03-30 04:03:13.568394,3,NGN,2024-03-30 04:18:13.568459,success,NaN

In [22]:
# Checking the unique values in location column
location = sales1.index.unique().sort_values()
location

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica (the territory South of 60 deg S)',
       'Antigua and Barbuda', 'Argentina',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='location', length=243)

In [23]:
no_of_locations = sales1.index.nunique()
no_of_locations

243

In [24]:
# Top 25 locations with most sales
top_25 = sales.index.value_counts().head(25)
top_25

location
Korea                          6997
Argentina                      4507
Mauritius                      4414
Jersey                         4130
Panama                         3936
French Guiana                  3851
Guernsey                       3804
Guatemala                      3731
Albania                        3721
Philippines                    3675
Mali                           3670
Congo                          3642
Finland                        3615
Cape Verde                     3509
Christmas Island               3471
China                          3429
France                         3425
French Southern Territories    3421
Poland                         3355
Cyprus                         3345
Switzerland                    3342
British Virgin Islands         3329
Bosnia and Herzegovina         3309
Niger                          3295
Sri Lanka                      3289
Name: count, dtype: int64

In [25]:
# Least 25 locations with most sales
least_25 = sales1.index.value_counts().tail(25)
least_25

location
Namibia                     1522
Sierra Leone                1493
Jamaica                     1447
Sao Tome and Principe       1421
Russian Federation          1404
Malawi                      1403
Djibouti                    1394
Botswana                    1390
Yemen                       1384
Montenegro                  1379
Kyrgyz Republic             1370
United Arab Emirates        1352
Turks and Caicos Islands    1229
Azerbaijan                  1225
Barbados                    1216
Greece                      1214
Saint Kitts and Nevis       1201
Honduras                    1195
Cocos (Keeling) Islands     1168
Taiwan                      1122
Chad                        1082
Malaysia                    1037
Austria                      921
Italy                        783
Uruguay                      734
Name: count, dtype: int64

In [26]:
# CHecking the currencies used for the purchase
currency = sales1['currency'].unique()
currency

array(['NGN', 'GBP', 'USD'], dtype=object)

In [27]:
# Top number of currencies used for the purchase
no_currency = sales1['currency'].nunique()
no_currency

3

In [36]:
# Checking how frequent each currency waas used for the purchase
no_currency_used = sales1['currency'].value_counts()
no_currency_used

currency
USD    198037
GBP    191403
NGN    188880
Name: count, dtype: int64

In [29]:
# Using iloc to display certain locations
find_locations = sales1.iloc[4000:]
find_locations

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,14,32626,18719662-201e-49d7-99da-ad53c19d511a,151438,2024-03-30 04:03:17.578723,2,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,10,32628,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,1,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,8,32630,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,3,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,9,32631,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,2,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,2,32632,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,1,USD,2024-03-30 04:15:17.578737,success,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,10,29861,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,3,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,7,29860,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138309,2024-03-28 01:59:47.070999,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138314,2024-03-30 04:03:16.911579,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,3f32bd5a-83d1-4d0e-85ba-101602388481,3dda90af-6c74-494d-b240-fc4d8d31759a,3,15897,46a574f4-9044-4653-b2cc-7c1610f68494,74252,2024-03-30 04:03:13.568394,3,NGN,2024-03-30 04:18:13.568459,success,NaN

In [30]:
# Checking the unique customer id in the data set
customer_id = sales1['customer_id'].nunique()
customer_id

4594

In [42]:
# Checking the unique status for all purchases
status = sales1['status'].unique()
status

array(['failed', 'success', 'cancelled'], dtype=object)

In [44]:
# CHecking the total number of each status 
status_no = sales1['status'].value_counts()
status_no

status
failed       196383
success      192594
cancelled    189343
Name: count, dtype: int64

In [74]:
# Checking the top 25 customers with the highest purchase 
top_25_customers = find_locations['customer_id'].value_counts().head(100)
top_25_customers

customer_id
eb7dcb88-073d-403e-bdd4-1e5725fe2338    372
ebcea232-0615-44be-8f9e-338100c6b31c    360
a7d9058a-163e-4632-9bde-1f57130130cb    360
c391f179-9eb3-418d-9d7b-b261f2dc57a6    360
be8ce4e3-c596-43c2-8b70-bdcecada2139    360
                                       ...
18dc24d8-019c-446d-8233-d3064d622d24    312
d9244686-c0db-4668-80b2-df14efe476cc    312
cc95599f-1bac-4b5a-b68c-702524b70035    312
d2fd5704-df8b-430c-b3bd-8a1d981f9257    312
21d4db4c-eacc-44f7-bf62-04db9f44371f    312
Name: count, Length: 100, dtype: int64

In [33]:
# Checking the behaiviour of a certain customer
mask = (sales1['customer_id']=='eb7dcb88-073d-403e-bdd4-1e5725fe2338')
sales1[mask].head(5)

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,11,12811,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59280,2024-03-30 04:03:12.797444,4,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,2,12801,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,4,12802,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,6,12803,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,5,12804,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled,NaN

In [38]:
# checking the customer_id with respect to the currencies 
customer_currency = sales1.loc[mask, 'customer_id':'status'].head(5)
customer_currency

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,11,12811,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59280,2024-03-30 04:03:12.797444,4,USD,2024-03-30 04:09:12.797464,cancelled
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,2,12801,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,4,12802,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,6,12803,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,5,12804,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled

In [79]:
mask = (sales1['customer_id']=='eb7dcb88-073d-403e-bdd4-1e5725fe2338') & (sales1['status']!='success')

In [80]:
sales1[mask].head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,11,12811,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59280,2024-03-30 04:03:12.797444,4,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,2,12801,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,4,12802,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,6,12803,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,3,USD,2024-03-30 04:09:12.797464,cancelled,NaN
Saint Helena,eb7dcb88-073d-403e-bdd4-1e5725fe2338,5d53495a-55ac-49bf-b876-ad1ac4b8d2a4,5,12804,5cc9c814-c69a-4831-9b50-92abe2c1dea2,59282,2024-03-30 04:03:12.797446,1,USD,2024-03-30 04:09:12.797464,cancelled,NaN

In [82]:
that_customer = sales1.loc[mask]

In [81]:
that_customer['currency'].value_counts()

currency
USD    372
Name: count, dtype: int64

In [83]:
that_customer['status'].unique()

array(['cancelled'], dtype=object)

In [84]:
that_customer['status'].value_counts()
# The customer 'that_customer' has experienced 372 cancelled transactions using

status
cancelled    372
Name: count, dtype: int64

In [86]:
mask_usd = (sales1['status']=='cancelled') & (sales1['currency']=='USD')
mask_gbp = (sales1['status']=='cancelled') & (sales1['currency']=='GBP')
mask_ngn = (sales1['status']=='cancelled') & (sales1['currency']=='NGN')

In [94]:
customers_ngn = sales1.loc[mask_ngn]
customers_usd = sales1.loc[mask_usd]
customers_gbp = sales1.loc[mask_gbp]

In [97]:
ngn = customers_ngn['currency'].value_counts()
cancelled = customers_ngn['status'].value_counts()
print(f'The total number of number of cancelled transactions using naira\n:{ngn}')

The total number of number of cancelled transactions using naira
:currency
NGN    57347
Name: count, dtype: int64

In [ ]:
usd = customers_usd['currency'].value_counts()
cancelled = customers_usd['status'].value_counts()
print(f'The total number of number of cancelled transactions using USD is\n:{usd}')

The total number of number of cancelled transactions using naira
:currency
USD    67672
Name: count, dtype: int64

In [101]:
currency_by_status = sales1.groupby("status")["currency"].value_counts()
currency_by_status

status     currency
cancelled  USD         67672
           GBP         64324
           NGN         57347
failed     USD         68183
           NGN         65387
           GBP         62813
success    NGN         66146
           GBP         64266
           USD         62182
Name: count, dtype: int64

In [102]:
# Checking the transaction history of one of the top purchasing countries
mauritius = sales.loc['Mauritius']
mauritius.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Mauritius,149de5ac-faf4-48c8-b467-c5ee157734ca,f5a86589-d287-4ae9-9fb7-3afef9127d3c,7,3965,d33d2ad0-3977-4d59-802f-197b11e7ecd1,18364,2024-03-30 04:03:10.644004,4,NGN,2024-03-30 04:18:10.644078,success
Mauritius,149de5ac-faf4-48c8-b467-c5ee157734ca,f5a86589-d287-4ae9-9fb7-3afef9127d3c,12,3966,d33d2ad0-3977-4d59-802f-197b11e7ecd1,18364,2024-03-30 04:03:10.644004,1,NGN,2024-03-30 04:18:10.644078,success
Mauritius,149de5ac-faf4-48c8-b467-c5ee157734ca,f5a86589-d287-4ae9-9fb7-3afef9127d3c,13,3967,d33d2ad0-3977-4d59-802f-197b11e7ecd1,18364,2024-03-30 04:03:10.644004,5,NGN,2024-03-30 04:18:10.644078,success
Mauritius,149de5ac-faf4-48c8-b467-c5ee157734ca,f5a86589-d287-4ae9-9fb7-3afef9127d3c,6,3968,d33d2ad0-3977-4d59-802f-197b11e7ecd1,18364,2024-03-30 04:03:10.644004,1,NGN,2024-03-30 04:18:10.644078,success
Mauritius,149de5ac-faf4-48c8-b467-c5ee157734ca,f5a86589-d287-4ae9-9fb7-3afef9127d3c,5,3969,d33d2ad0-3977-4d59-802f-197b11e7ecd1,18364,2024-03-30 04:03:10.644004,1,NGN,2024-03-30 04:18:10.644078,success

In [103]:
#CHecking the info on the country
mauritius.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4414 entries, Mauritius to Mauritius
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      4414 non-null   object
 1   device_id        4414 non-null   object
 2   item_id          4414 non-null   int64
 3   line_item_id     4414 non-null   int64
 4   order_id         4414 non-null   object
 5   event_id         4414 non-null   int64
 6   event_timestamp  4414 non-null   datetime64[ns]
 7   quantity         4414 non-null   int64
 8   currency         4414 non-null   object
 9   checked_out_at   4414 non-null   datetime64[ns]
 10  status           4414 non-null   object
dtypes: datetime64[ns](2), int64(4), object(5)
memory usage: 413.8+ KB

In [105]:
# Checking the shape of the country
mauritius.shape

(4414, 11)

In [109]:
# Checking the status of the transactions in Mauritius
failed = mauritius[mauritius['status']=='failed']
success= mauritius[mauritius['status']=='success']
cancelled = mauritius[mauritius['status']=='cancelled']

In [110]:
failed.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,11,9539,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,1,GBP,2024-03-30 04:14:12.012414,failed
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,15,9540,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,3,GBP,2024-03-30 04:14:12.012414,failed
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,2,9541,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,2,GBP,2024-03-30 04:14:12.012414,failed
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,3,9542,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,1,GBP,2024-03-30 04:14:12.012414,failed
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,5,9543,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,3,GBP,2024-03-30 04:14:12.012414,failed

In [111]:
failed.shape[0]

1341

In [115]:
success.shape[0]

2374

In [116]:
cancelled.shape[0]

699

In [114]:
failed['customer_id'].nunique()

11

In [118]:
success['customer_id'].nunique()

16

In [119]:
cancelled['customer_id'].nunique()

5

In [113]:
failed['customer_id'].unique()

array(['f0fccc75-73ae-4d3f-a993-6c22d2baad97',
       '39da6e5a-21da-4257-a25b-876f8d934359',
       'ac064f60-e766-41a1-ac42-65371c237845',
       'c94a9f60-2e57-4b81-8fb9-835d9e53c4df',
       'e0cf302e-3057-4051-b2d1-2a11e6e955ff',
       '1ad3c72d-4616-48d3-a15a-fb39a558f142',
       '7503107d-d323-43a3-ab3e-4afdbe72e18e',
       'c0618560-5bcd-428f-8ae0-b2fb895a50b8',
       '7c306b8e-06db-4d37-a9d1-56c445cafad0',
       '0ef0e648-c195-4bea-9a67-b1248fd73a32',
       'd93c9f35-66f2-4746-bcea-72e963685ffc'], dtype=object)

In [123]:
cust_f0fccc75 = failed[failed['customer_id']== 'f0fccc75-73ae-4d3f-a993-6c22d2baad97']
cust_f0fccc75.head(1)

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Mauritius,f0fccc75-73ae-4d3f-a993-6c22d2baad97,2f11f956-81da-44f6-b906-0266d3d21721,11,9539,28fd9606-e6a8-491b-b538-58215e91d170,44091,2024-03-24 22:44:56.256842,1,GBP,2024-03-30 04:14:12.012414,failed

In [ ]:
cust_f0fccc75.shape[0] # This customer attempted 240 failed transactions

240

In [ ]:
cust_f0fccc75['currency'].unique() # The customer was using GBP

array(['GBP'], dtype=object)

In [ ]:
cust_f0fccc75['item_id'].value_counts()

item_id
11    24
15    24
2     24
3     24
5     24
6     24
12    24
9     24
7     24
4     24
Name: count, dtype: int64

In [133]:
cust_f0fccc75['event_timestamp'].value_counts()

event_timestamp
2024-03-30 04:03:12.012401    20
2024-03-23 23:11:32.513165    10
2024-03-24 22:44:56.256842    10
2024-03-30 04:03:12.012342    10
2024-03-30 04:03:12.012343    10
2024-03-30 04:03:12.012344    10
2024-03-20 10:21:50.625847    10
2024-03-30 04:03:12.012345    10
2024-03-30 04:03:12.012390    10
2024-03-30 04:03:12.012394    10
2024-03-30 04:03:12.012392    10
2024-03-30 04:03:12.012395    10
2024-03-30 04:03:12.012396    10
2024-03-30 04:03:12.012398    10
2024-03-30 04:03:12.012399    10
2024-03-30 04:03:12.012403    10
2024-03-30 04:03:12.012405    10
2024-03-30 04:03:12.012406    10
2024-03-30 04:03:12.012407    10
2024-03-30 04:03:12.012408    10
2024-03-30 04:03:12.012409    10
2024-03-30 04:03:12.012411    10
2024-03-30 04:14:12.012414    10
Name: count, dtype: int64

In [140]:
cust_f0fccc75['event_id'].value_counts()

event_id
44091    10
44092    10
44093    10
44094    10
44095    10
44096    10
44097    10
44098    10
44099    10
44100    10
44101    10
44102    10
44103    10
44104    10
44105    10
44106    10
44107    10
44108    10
44109    10
44110    10
44111    10
44112    10
44113    10
44114    10
Name: count, dtype: int64

In [139]:
quantitybyorder = failed.groupby('order_id')['quantity'].value_counts()
quantitybyorder

order_id                              quantity
1cc745a5-e2c7-44da-85f4-c034919babfd  3            6
                                      4            6
28fd9606-e6a8-491b-b538-58215e91d170  3           72
                                      1           48
                                      2           48
                                      4           48
                                      5           24
2e0cde86-79af-48cd-a2a4-58999f5f56ae  1           42
                                      4           28
                                      5           14
6ad985ff-8ac3-4289-a2b5-c78791504282  4           64
                                      1           48
                                      2           32
                                      5           16
70d80c5c-d967-4b1d-b480-818aa53344a7  4           45
                                      5           15
9f0e5102-143d-431a-b355-5cd63284f454  4           26
                                      2           13
                                      5           13
a6b1e691-5be2-4544-8b45-7e9654575f82  2           22
                                      5           11
ab1adacb-7d9f-4130-a00c-4a32120914e0  4           78
                                      1           52
                                      2           52
                                      3           52
                                      5           52
c0b3663f-b243-4465-bd87-babb30d300e5  2            6
ed30c5cf-ada2-4d77-92cd-1783120eac60  4           84
                                      1           42
                                      2           42
                                      3           21
                                      5           21
f294b167-650a-49ec-8d28-9de32ed61ad0  4           72
                                      2           54
                                      1           36
                                      3           18
                                      5           18
Name: count, dtype: int64

In [120]:
success['customer_id'].unique()

array(['149de5ac-faf4-48c8-b467-c5ee157734ca',
       '2aa7d76d-ae5d-4ed1-bd9e-4dde72a57fb6',
       '2ff87a9b-7d21-4642-a61f-5635486ae0f4',
       '3eacb753-33eb-4c80-8637-6db5ed7e29c5',
       '39d54b77-a5e2-45de-8977-35ce09f13be3',
       'a7e9272a-4512-4f09-ac62-62aff189c6db',
       '2a2610a1-2484-472e-b92b-2b0d66005479',
       '49de3cc8-4b11-4847-a907-1596f1f25a54',
       '48cb0edf-fdf1-4c15-9b1c-dd83dd6ab710',
       '5c25df3d-3cb8-425d-a1cf-ed89994615f3',
       '060c8412-95f1-4ac0-a920-6068ff18b1a1',
       '1e3921b6-a371-48b5-9deb-d479b0b53ce7',
       '0a8fe861-7cec-49ef-a6cb-671e3189d476',
       '0ddaf849-199f-407c-914a-e2225978df7f',
       '9bd32db3-c7e1-4ebb-ab4b-ad2a457777f3',
       'e3215453-eadc-4790-8c3c-674bbb37d26f'], dtype=object)

In [121]:
cancelled['customer_id'].unique()

array(['4cb79677-9c29-4567-91a4-6305ff3f24bb',
       '484a3a72-7afd-4d81-8f56-f066a683cd22',
       '2146b604-4a22-4fac-86fe-8fa6a022d885',
       'ba4959b9-e8ce-41aa-ade4-ca7823e96dfe',
       'ff820342-9b55-46fc-ad8a-714efae63ef5'], dtype=object)