## Class Task 9 - Hypothesis Testing

In [ ]:
# Download libraries
%pip install gdown

Requirement already satisfied: gdown in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from gdown) (4.14.0)
Requirement already satisfied: filelock in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from gdown) (3.19.1)
Requirement already satisfied: requests[socks] in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from gdown) (2.32.5)
Requirement already satisfied: tqdm in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from beautifulsoup4->gdown) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from requests[socks]->gdown) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from requests[socks]->gdown) (2025.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\ncc84\desktop\module2_tasks\module_2_task_submissions\venv\lib\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [25]:
# Import libraries
import gdown
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
# Download the data from google drive
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc84\Desktop\module2_tasks\Module_2_task_submissions\class_tasks\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 54.8MB/s]

'data.csv'

In [9]:
# Read the dataset to csv
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [11]:
# Checking for missing values
df.drop('Unnamed: 0', axis=1, inplace=True)
df

         country food_category  consumption  co2_emission
0      Argentina          pork        10.51         37.20
1      Argentina       poultry        38.66         41.53
2      Argentina          beef        55.48       1712.00
3      Argentina     lamb_goat         1.56         54.63
4      Argentina          fish         4.36          6.96
...          ...           ...          ...           ...
1425  Bangladesh         dairy        21.91         31.21
1426  Bangladesh         wheat        17.47          3.33
1427  Bangladesh          rice       171.73        219.76
1428  Bangladesh      soybeans         0.61          0.27
1429  Bangladesh          nuts         0.72          1.27

[1430 rows x 4 columns]

## Two-Sample t-Test

**Question : Is the beef consumption in Argentina significantly different from that in Bangladesh?**



H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [15]:
# Select Argentina beef consumption
arg_beef = df[(df['country'] == 'Argentina') & (df['food_category']== 'beef')]
arg_beef

     country food_category  consumption  co2_emission
2  Argentina          beef        55.48        1712.0

In [ ]:
# Select Bangladesh beef consumption
bang_beef = df[(df['country'] == 'Bangladesh') & (df['food_category']== 'beef')]
bang_beef

         country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [31]:
# Checking the beef consumption rate in Argentina
arg_beef_consump = arg_beef['consumption']
arg_beef_consump

2    55.48
Name: consumption, dtype: float64

In [30]:
# Checking the beef consumption rate in Bangladesh
bang_beef_consump = bang_beef['consumption']
bang_beef_consump

1421    1.28
Name: consumption, dtype: float64

In [22]:
# Calculating the mean of beef consumption in Argentina
arg_beef_consump_mean = arg_beef_consump.mean()
print("The average mean consumption in Argentina is",arg_beef_consump_mean)

The average mean consumption in Argentina is 55.48

In [33]:
# Calculating the mean of beef consumption in Bangladesh
bang_beef_consump_mean = bang_beef_consump.mean()
print("The average mean consumption in Bangladesh is",bang_beef_consump_mean)

The average mean consumption in Bangladesh is 1.28

In [34]:
# Using Random Normal to generate random figures 
arg_beef_samples = np.random.normal(loc=arg_beef_consump_mean, scale=5, size=30)
arg_beef_samples

array([64.16654334, 56.0160187 , 57.7117727 , 46.31713665, 56.42153374,
       45.26881381, 50.88779183, 55.18976522, 58.8721982 , 57.31476634,
       53.06474031, 54.19592697, 63.15728333, 54.29480633, 48.6330757 ,
       62.90730893, 60.0376537 , 57.72112888, 50.3067962 , 58.44859382,
       46.96456372, 47.26244284, 54.88344087, 63.50214282, 46.13929339,
       60.79529563, 58.09454403, 55.95328934, 51.82197587, 58.70597914])

In [36]:
# Using Random Normal to generate random figures 
bang_beef_samples = np.random.normal(loc=bang_beef_consump_mean, scale=5, size=30)
bang_beef_samples

array([-3.95143059, -2.27834481,  6.40592607, -1.69830312,  1.6804065 ,
       -2.00736808,  7.17342128,  0.52813201,  2.12793009,  0.94729718,
       12.13908727,  7.15369904,  9.92348892,  1.31389946,  4.64586739,
       -0.51692782,  0.65543756,  3.75693964, -0.98533635,  0.22579355,
        3.87331074, -1.33316004,  4.68200879,  2.61617405, 17.7314318 ,
        4.32688254, -5.53222397,  3.32211536,  4.96798717, -2.14426818])

In [37]:
# Using two-sample t-test
t_stat, p_val = stats.ttest_ind(arg_beef_samples, bang_beef_samples)

# Printing T-statistic
print("T-statistic:", t_stat)

# Printing P-value
print("P-value:", p_val)

T-statistic: 38.86921155482591
P-value: 3.1194903698500305e-43

# Interpretation of the Hypothesis
```
The result of the P-value is less than 0.05.

Therefore, reject Ho -> Beef consumption in Argentina is not equal to beef consumption in Bangladesh.
```